<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Категории</h1>
            <p>
                Выберай лучшее...
            </p>
        </div>
    </div>
    <div class="row">
    {% for category in categories %}
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="{{ category.get_absolute_url }}"><img src="{{ category.get_category_image }}" class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3">{{ category }}</h5>
            <p class="text-center"><a class="btn btn-success" href="{{ category.get_absolute_url }}">Смотреть</a></p>
        </div>
    {% endfor %}
    </div>
</section>