{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    {% include "components/__styles.html" %}
<!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body>
    <!-- Start Top Nav -->
    {% include "components/__topnav.html" %}
    <!-- Close Top Nav -->


    <!-- Header -->
    {% include "components/__header.html" %}
    <!-- Close Header -->

    <!-- Modal -->
    {% include "components/__modal.html" %}


    {% block content %}{% endblock content %}


    <!-- Start Footer -->
    {% include "components/__footer.html" %}
    <!-- End Footer -->

    <!-- Start Script -->
    {% include "components/__scripts.html" %}
    <!-- End Script -->
</body>

</html>